/* Coolors Exported Palette - coolors.co/3f88c5-da5552-f7ebe8-eadcad-1e1e24 */

/* HSL */
/* $color1: hsla(207%, 54%, 51%, 1); */
/* $color2: hsla(1%, 65%, 59%, 1); */
/* $color3: hsla(12%, 48%, 94%, 1); */
/* $color4: hsla(46%, 59%, 80%, 1); */
/* $color5: hsla(240%, 9%, 13%, 1); */

/* RGB */
/* $color1: rgba(63, 136, 197, 1); */
/* $color2: rgba(218, 85, 82, 1); */
/* $color3: rgba(247, 235, 232, 1); */
/* $color4: rgba(234, 220, 173, 1); */
/* $color5: rgba(30, 30, 36, 1); */


html, body {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: rgba(247, 235, 232, 1);
}

main {
    padding: 20px;
    /* width: 80%; */
    margin: auto;
}

nav {
    margin-top: 20px;
}

ul {
    list-style: none;
    margin: auto;
    padding-inline-start: 0px;
    padding: 0px;
}

.avatar img {
    border-radius: 2px;
}

ul li {
    line-height: 2;
}

a.link {
    transition: all 0.25s ease;
    color: inherit;
    text-decoration: none;
    padding:5px;
    border-radius: 2px;
}

a.link:hover {
    color: rgba(247, 235, 232, 1);
    background: rgba(218, 85, 82, 1);
}