html, body {
  background-image: url('bg.jpg');
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

.container {
    margin-top: 0%;
    
}

.button-group {
    margin-bottom: 20px;
}

.thumbnail {
    margin-top: 10px;
}

.header {
    margin-top: 0;
    background-color: #0F93BF;
    height: 50px;
    line-height: 50px;
    border: 0px solid #000;
}

.carousel {

    vertical-align: middle;
    align-self: center;
    align-content: center;
    align-items: center;
    display: block;
    margin: 0 auto; 
    height: 350px !important;
    max-width: 100%;
    height: auto;

}

.carousel .item {
  -webkit-transition: 0.7s ease-in-out opacity;
  -moz-transition: 0.7s ease-in-out opacity;
  -o-transition: 0.7s ease-in-out opacity;
  transition: 0.7s ease-in-out opacity;
  left: 0 !important;
  height: 350px !important;
  vertical-align: middle;    
}

.carousel .next.left,
.carousel .prev.right {
  opacity: 1;
  z-index: 1;
}

.carousel .active.left,
.carousel .active.right {
  opacity: 0;
  z-index: 2;
}      

.carousel .carousel-control {
  z-index: 1000;
  outline:none;
}

ul.hr {
    margin: 0;
    padding: 5px;
}

ul.hr li {
    border: 0px solid #000;
    margin-right: 5px;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    min-height: 42px;
}

p.item-title {
    font-size: 24px;
    font-weight: 400;
}

p.item-descr {
    text-align: left;
    font-size: 18px;
    font-weight: 400;
}

p.item-cost {
    text-align: left;
    font-size: 24px;
    font-weight: 400;
}

.item-img {
    width: 200px;
    height: 200px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}

th, td {
 
    padding: 10px;    
}