*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(45deg, #1F1C18, #007a8e);
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Noto Sans', sans-serif; */
    color: white;
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

main {
    margin: auto;
    width: 90%;
    min-height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}

.section {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.hero {
    height: 500px;
    align-self: center;
    justify-self: center;
    display: flex;
    width: 100%;
}

.details {
    /* grid-column: 2/3; */
    align-self: flex-end;
    margin-bottom: 5%;
}

.details h1 {
    margin-bottom: 20px;
}

.movies, .books, .projects, .travel, .chgk {
    position: absolute;
    /* bottom: 0%; */
    /* left: 0%; */
    width: 100%;
    opacity: 0;
    z-index: -1;
}

.music {
    z-index: 1;
}

.sections-nav {
    z-index: 2;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}

.sections-nav div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.section-nav-el {
    transition: opacity 0.2s ease-in;
    transition: transform .2s ease-in;
    cursor: pointer;
    opacity: 0.5;
}

.section-nav-el h3 {
    font-size: 24px;
    padding: 24px;
}

.section-nav-el svg {
    transform: scale(1.5);
}

.section-nav-el:hover {
    transform: scale(1.1);
}

.section-nav-el.active {
    opacity: 1;
}

.section-nav-el.active {
    transform: scale(1.1);
}

.section-nav-el.active svg {
    transform: scale(2);
    transition: transform .2s ease-in;
}

header h1 {
    font-size: 22rem;
    position: absolute;
    opacity: 0.1;
    left: -50px;
    top: 5%;
    font-weight: 800;
    /* font-family: 'Noto Sans', sans-serif; */
}

.swiper-container {
    width: 100%;
    height: 500px;
    padding-top: 50px;
    padding-bottom: 50px;
    /* padding-top: 50px; */
    /* padding-bottom: 50px; */
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
}

.swiper-pagination-bullet-active {
    color: rgb(142, 0, 92);
}

.music-nav ul, .travel-nav ul {
    list-style-type: none;
    cursor: default;
}

.music-nav ul {
    text-align: left;
    list-style-type: none;
    cursor: default;
}

/* 
.music-nav ul li {
    transition: all .5s ease;
    padding: 10px;
    line-height: 1.8;
} */

.music-nav ul li, .travel-nav ul li {
    display: inline;
    transition: all .5s ease;
    padding: 10px;
    line-height: 2.8;
    word-wrap: break-word;
}

.music-nav ul li:hover, .travel-nav ul li:hover {
    background: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

.music-nav ul li.active, .travel-nav ul li.active {
    background: rgba(255, 255, 255, 1);
    color: rgba(0, 0, 0, 0.5);
    font-weight: bold;
}

.section.music .hero, .section.travel .hero {
    position: relative;
}

.music-hero, .travel-hero {
    width: 100%;
    position: absolute;
}

.travel-hero h3 {
    font-size: 6rem;
    position: absolute;
    z-index: 2;
    top: -50px;
    left: -50px;
    text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
}

.music-hero h3 {
    font-size: 3.5rem;
    position: absolute;
    z-index: 2;
    top: -100px;
    left: -50px;
    text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
}

.travel-hero.riga, .travel-hero.tallin, .travel-hero.helsinki, .travel-hero.island, .travel-hero.prague, .music-hero.fresh-albums, .music-hero.most-listened-tracks, .music-hero.fav-tracks {
    opacity: 0;
}

.music-hero.fresh-albums, .music-hero.most-listened-tracks, .music-hero.fav-tracks {
    z-index: -1;
}

.fresh-albums-container, .most-listened-albums-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.fresh-albums-cover, .most-listened-albums-cover {
    width: 300px;
    height: 300px;
}

.fresh-albums-list, .most-listened-albums-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    margin-left: 20px;
}

.fresh-albums-list div, .most-listened-albums-list div {
    overflow: hidden;
    color: rgba(0, 0, 0, 0);
    transition: all 0.2s ease;
    width: 100px;
    height: 100px;
    margin: 10px;
    opacity: .5;
    background-position: center;
    background-size: cover;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15), 0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15);
}

.fresh-albums-list div:hover, .most-listened-albums-list div:hover {
    transform: scale(1.1);
    opacity: 1;
    cursor: pointer;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11), 0 4px 4px rgba(0, 0, 0, 0.11), 0 8px 8px rgba(0, 0, 0, 0.11), 0 16px 16px rgba(0, 0, 0, 0.11), 0 32px 32px rgba(0, 0, 0, 0.11);
}

.fresh-albums-list div.active, .most-listened-albums-list div.active {
    transform: scale(1.1);
    opacity: 1;
    cursor: pointer;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15), 0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15);
}

.fresh-albums-cover, .most-listened-albums-cover {
    margin-top: 10px;
    background-color: transparent;
    width: 450px;
    height: 450px;
}

.fresh-album-cover-inner, .album-cover-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: all 0.5s ease;
}

.fresh-albums-cover:hover .fresh-album-cover-inner .fresh-album-cover-inner-front-title, .most-listened-albums-cover:hover .album-cover-inner .album-cover-inner-front-title {
    opacity: 1;
}

.fresh-album-cover-inner-front, .album-cover-inner-front {
    width: 100%;
    height: 100%;
    position: absolute;
    background-position: center;
    background-size: cover;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15), 0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15);
    opacity: 1;
}

.fresh-album-cover-inner-front, .album-cover-inner-front {
    background-color: #bbb;
    color: black;
}

.fresh-album-cover-inner-front-title, .album-cover-inner-front-title {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    width: 100%;
    height: 100%;
    padding-top: 35%;
    line-height: 2;
    opacity: 0;
    transition: all 0.5s ease;
    color: white;
    font-size: 1.2rem;
}