html {
    height: 100%;
}

body {
    /* transition: background 5s ease 1s; */
    /* transition: color 5s ease 1s; */
    /* font-family: 'Segoe UI', sans-serif; */
    font-family: 'Roboto Slab', serif;
    /* font-family: 'Montserrat', sans-serif; */
    /* font-family: 'Ubuntu', sans-serif; */
    /* font-family: 'Open Sans', sans-serif; */

    /* background: rgba(223, 249, 251, 1.0);; */
    background: rgba(35, 37, 38, 1.0);
    /* background: -webkit-linear-gradient(195deg, rgba(53, 59, 72,1.0), rgba(47, 54, 64,1.0)); */
    /* background: linear-gradient(195deg, rgba(53, 59, 72,1.0), rgba(47, 54, 64,1.0)); */
    /* color: rgba(30, 39, 46, 1.0); */
    color: rgba(223, 249, 251, 1.0);
}

.header {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.7em;
    text-align: center;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 60px;
    height: 60px;
    color: rgba(223, 249, 251, 1.0);
}

.main {
    max-width: 600px;
    margin: auto;
    margin-top: 40px;
}

.settings {
    height: 62px;
}

#settingsButton {
    float: right;
    margin-right: -6px;
}

/* Buttons block */

.button {
    border: 3px solid rgba(223, 249, 251, .2);
    transition: all 0.25s;
    padding: 6px;
    width: 50px;
    height: 50px;
    border-radius: 4px;
    text-align: center;
    font-size: 2em;
    margin-right: 10px;
    cursor: pointer;
}

.button:hover {
    background: rgba(223, 249, 251, .2);
}

#settingsBar {
    display: none;
}

#settingsBar .button {
    display: inline-block;
    opacity: 0;
    margin-right: 6px;
}

.button:hover {
    color: rgba(223, 249, 251, 1.0);
}

.button-icon {
    transition: 0.5s fill;
    margin: 6px auto;
    fill: rgba(223, 249, 251, .2);
    color: rgba(223, 249, 251, .2);
}

.button-icon:hover {
    fill: rgba(128, 142, 155, 1.0);
}

.button-icon.daymode {
    fill: rgba(35, 37, 38, .5);
}


.button-icon:active {
    fill: rgba(128, 142, 155, 1.0);
}

.button:hover .button-icon {
    fill: white;
}

.button:hover .button-icon.daymode {
    fill: rgba(35, 37, 38, .2);
}

/* Player list */

#playerList {
    margin-top: 10px;
    margin-bottom: 10px;
}

.playerDiv {
    transition: background 0.25s ease;
    margin-top: 10px;
    height: 60px;
    font-weight: 400;
    font-size: 1.2em;
    line-height: 1;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    /* color: rgba(245, 246, 250, 1.0); */
    border: 3px solid rgba(245, 246, 250, .2);
    border-radius: 4px;
    display: table;
    width: 100%;
    vertical-align: middle;
    /* margin-bottom: 20px; */
}

.playerDiv:nth-child(1) {
    margin-top: 30px;
}

.playerDiv .minusButton, .playerDiv .playerName, .playerDiv .playerScores, .playerDiv .plusButton {
    /* display: inline-block; */
    display: table-cell;
    vertical-align: middle;
}

.playerDiv:hover {
    background: rgba(245, 246, 250, 0.2);
}

.playerName {
    width: 60%;
    text-align: left;
    vertical-align: middle;
    /* height: 60px; */
    padding-left: 20px;
    word-break: break-all;
}

.playerScores {
    width: 20%;
    text-align: right;
    vertical-align: middle;
    padding-right: 10px;
}

.minusButton, .plusButton {
    transition: all 0.25s ease;
    width: 60px;
    height: 60px;
    text-align: center;
    font-weight: 200;
    cursor: pointer;
    font-size: 1.4em;
}

.minusButton:hover,
.plusButton:hover {
    transform: scale(0.9);
}

.minusButton:active,
.plusButton:active {
    transform: scale(0.8);
}

.button-icon.plus {
    fill: rgba(106, 176, 76, 1.0);
    padding-top: 2px;
}

.button-icon.minus {
    fill: rgba(232, 65, 24,1.0);
    padding-top: 2px;
}

/* Scores */

.scores-div {
    display: none;
    width: 100%;
    height: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}

.scores-list {
    list-style: none;
    margin-block-end: 0;
    margin-block-start: 0;
    padding-inline-start: 0;
    display: table;
    border-spacing: 20px 0px;
    margin: auto;
}

.scores-list li {
    transition: transform 0.25s ease;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    border: 4px solid transparent;
    font-size: 1em;
    font-weight: 800;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    text-align: center;
    margin: auto;
    cursor: pointer;
}

.scores-list li:hover{
    transform: scale(0.9);
}

.scores-list li:active{
    transform: scale(0.8);
}

.scores-list.plus li {
    border-color: rgba(106, 176, 76, 1.0);
    color: rgba(106, 176, 76, 1.0);
}

.scores-list.minus li {
    border-color: rgba(232, 65, 24,1.0);
    color: rgba(232, 65, 24,1.0);
}

/* Blank Table */

.blankTable {
    margin-top: 60px;
    font-weight: 400;
    font-size: 1.2em;
    text-align: center;
    /* color: rgba(223, 249, 251, 1.0); */
}

.blankTableTitle {
    text-transform: uppercase;
    font-size: 1.4em;
}

.blankTableDesc {
    margin-top: 4px;
}


.modal {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1;
}

.modal-bg {
    background: rgba(0, 0, 0, 0.8);
    margin: 0px;
    padding: 0px;
    min-height: 100%;
    position: fixed;
    width: 100%;
}

.modal-window {
    width: 560px;
    border-radius: 4px;
    height: 120px;
    /* background: rgba(245, 246, 250, 1.0); */
    /* background: linear-gradient(145deg, rgb(222, 223, 226), rgba(245, 246, 250, 1.0));    */
    border: 3px solid rgba(245, 246, 250, 0.2);
    color: rgba(245, 246, 250, 1.0);
    margin: 20% auto;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 200px;
}


.modal-window.screenshot {
    height: auto;
}

.modal-text {
    font-weight: 400;
    font-size: 1.4em;
    margin-bottom: 20px;
}

.modal-input {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    transition: 0.5s all;
    outline: none;
    border: 3px solid rgba(245, 246, 250, .2);
    height: 60px;
    font-size: 1.2em;
    border-radius: 4px;
    padding-left: 4px;
    width: 550px;
    background: rgba(245, 246, 250, 1.0);
    background: transparent;
    color: rgba(245, 246, 250, 1.0);
}

.modal-buttons {
    width: 600px;
    height: 0px;
    margin: auto;
    margin-bottom: 200px;
}

.modal-accept, .modal-cancel, .modal-download {
    transition: 0.25s background;
    border-radius: 4px;
    height: 60px;
    /* opacity: 1; */
    font-weight: 400;
    font-size: 1.2em;
    color: rgba(223, 249, 251, 1.0);
    line-height: 3em;
    text-align: center;
    cursor: pointer;
    width: 120px;
}

.modal-accept {
    /* border: 20px solid red; */
    display: none;
    opacity: 0;
    float: right;
    background: rgba(0, 168, 255,1.0);
}

.modal-cancel{
    float: left;
    background: rgba(232, 65, 24,1.0);
}

.modal-download {
    display: none;
    float: left;
    background: rgba(76, 209, 55,1.0);
}

.modal-accept:hover {
    background: rgba(0, 151, 230,1.0);
}

.modal-download:hover {
    background: rgba(68, 189, 50,1.0);
}

.modal-cancel:hover {
    background: rgba(194, 54, 22,1.0);
}

.modal-image canvas {
    /* border: 3px solid rgba(0, 168, 255,1.0); */
    border-radius: 4px;
    /* width: 400px; */
}

.modal-sort {
    float: right;
    cursor: pointer;
}

.modal-sort svg {
    transition: transform 0.25s ease;
    fill: rgba(223, 249, 251, 1.0);
}

.modal-sort:hover svg {
    transform: scale(0.9);
}


/*  Table results */

div#playerResults {
    /* display: none; */
    background: rgba(35, 37, 38, 1.0);
    padding: 6px;
    /* border-radius: 4px; */
    position: absolute;
    width: 91%;
    z-index: -1;
}

.player-results-div {
    display: table;
    width: 100%;
    border-bottom: 1px solid rgba(245, 246, 250, 0.2);
    margin-bottom: 6px;
}

.player-results-name {
    display: table-cell;
    width: 50%;
}

.player-results-scores {
    display: table-cell;
    width: 50%;
    text-align: right;
}

/*  daymodeicon */

#nightmodeicon {
    /* -moz-transform: scaleX(-1); */
    /* -webkit-transform: scaleX(-1); */
    /* -o-transform: scaleX(-1); */
    /* transform: scaleX(-1); */
    /* -ms-filter: fliph; */
    /*IE*/
    /* filter: fliph; */
    /* IE */
}

#daymodeicon {
    opacity: 0;
}

/* Mobile devices adaptation */

/* Galaxy S5 */

@media screen and (max-width: 694px) and (orientation: portrait) { 
    .main {
        margin-top: 20px;
    }

    .header {
        margin-top: 0px;
    }

    .playerDiv {
        width: 90%;
        padding-right: 10px;
        margin: auto;
        margin-bottom: 10px;
    }

    .minusButton {
        margin-right: 10px;
    }

    .button {
        border: none;
        width: 40px;
        height: 40px;
    }

    .button-icon {
        margin: 0px;
    }

    .modal-window {
        width: 300px;
    }

    .modal-buttons {
        width: 344px;
    }

    .modal-input {
        width: 100%;
    }

    .modal-text {
        font-size:1.3em;
    }

    .modal-image canvas {
        width: 300px !important;
        height: auto !important;
    }

    div#playerResults {
        width: 288px;
    }

    #settingsButton{
        margin-right: -2px;
    }

    .blankTable {
        margin-top: 0px;
    }
    
    .playerScores {
        width: 10%;
    }

    .modal-window.screenshot {
        margin-top: 80px;
    }

    #modalImage {
        max-height: 350px;
        overflow: scroll;
    }
}

/*  Pixel2 */

@media screen and (max-width: 694px) and (orientation: landscape) {

    .main {
        margin-top: 20px;
    }

    .header{
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .modal-window{
        margin-top: calc(10%);
    }
}

@media screen and (max-width: 731px) and (orientation: landscape) {
    .header {
        margin-top: 0px;
        margin-bottom: 0px;
    }
}

/* Iphone 5s */

@media screen and (max-width: 320px) and (orientation: portrait) {
    .header {
        font-size: 1.4em;
        margin-top: 0px;
        margin-bottom: 10px;
    }

    .playerDiv {
        font-size: 1em;
    }

    .playerDiv:nth-child(1) {
        margin-top: 20px;
    }

    .modal-window {
        width: 260px;
        height: auto;
        margin-top: 25%;
    }

    .modal-window.screenshot {
        max-height: 300px;
    }

    .modal-buttons {
        width: 304px;
    }

    .modal-image canvas {
        width: 260px !important;
        height: auto !important;
    }

    div#playerResults {
        width: 248px;
    }

    #modalImage {
        max-height: 200px;
        overflow: scroll;
    }
}

@media screen and (max-width: 568px) and (orientation: landscape) {
    .header {
        font-size: 1.5em;
    }

    .blankTable {
        margin-top: 20px;
    }

    .modal-window {
        width: 400px;
    }

    .modal-buttons {
        width: 446px;
    }

    .modal-input {
        width: 100%;
    }

    #modalImage {
        max-height: 60px;
        overflow: scroll;
    }

    .modal-image canvas {
        width: 400px !important;
        height: auto !important;
    }

    .playerDiv {
        width: 98%;
        margin: auto;
        margin-bottom: 10px;
    }

    #settingsButton {
        margin-right: 0px;
    }
}

/* iPhone 6/7 */


@media screen and (max-width: 812px) and (orientation: landscape) {
    .header {
        margin-bottom: 0px;
        margin-top: 0px;
    }

    .playerDiv:nth-child(1) {
        margin-top: 20px;
    }

    .modal-window {
        margin-top: 10%;
    }

    .modal-window.screenshot {
        margin-top: 5%;
    }

    .modal-bg {
        position: fixed;
    }

    #modalImage {
        max-height: 140px;
        overflow: scroll;
    }
}